<div>
	<a href="#">TestCase.assertContains(response, text, count=None, status_code=200, msg_prefix='')</a><br/>
    Asserts that a Response instance produced the given status_code and that text appears in the content of the response. If count is provided, text must occur exactly count times in the response.
</div>
<div>
	<a href="#">TestCase.assertNotContains(response, text, status_code=200, msg_prefix='')</a><br/>
    Asserts that a Response instance produced the given status_code and that text does not appears in the content of the response.
</div>
<div>
	<a href="#">TestCase.assertFormError(response, form, field, errors, msg_prefix='')</a><br/>
    Asserts that a field on a form raises the provided list of errors when rendered on the form.
    form is the name the Form instance was given in the template context.
    field is the name of the field on the form to check. If field has a value of None, non-field errors (errors you can access via form.non_field_errors()) will be checked.
    errors is an error string, or a list of error strings, that are expected as a result of form validation.
</div>
<div>
	<a href="#">TestCase.assertTemplateUsed(response, template_name, msg_prefix='')</a><br/>
    Asserts that the template with the given name was used in rendering the response.
    The name is a string such as 'admin/index.html'.
</div>
<div>
	<a href="#">TestCase.assertTemplateNotUsed(response, template_name, msg_prefix='')</a><br/>
    Asserts that the template with the given name was not used in rendering the response.
</div>
<div>
	<a href="#">TestCase.assertRedirects(response, expected_url, status_code=302, target_status_code=200, msg_prefix='')</a><br/>
    Asserts that the response return a status_code redirect status, it redirected to expected_url (including any GET data), and the final page was received with target_status_code.
    New in Django 1.1: Please, see the release notes
    If your request used the follow argument, the expected_url and target_status_code will be the url and status code for the final point of the redirect chain.
</div>