<div class="ui-state-highlight ui-corner-all">
    <span class="ui-icon ui-icon-info"></span>
    Select assertion, fix if you need. Assertion will be added to selected or current request.<br/>
    Really you can add anything to test.<br/>
    <a target="blank" href="http://docs.djangoproject.com/en/dev/topics/testing/#assertions">
        Learn more about Django's specific assertions
    </a>
</div>
<input type='text' id='assertion-input' value='' size='100'/>
<button id='add-assertion-button'>Add</button>
<div>
    {% include 'testrecorder/panels/_assertion_content.html'%}
</div>
<script type='text/javascript'>
	jQuery(function($j){
		$j('#djDebugAssertionPanel div.scroll div div a').click(function(){
			$j('#assertion-input').val($j(this).text().replace(/TestCase/, 'self'));
			return false;
		});
		$j('#add-assertion-button').click(function(){
			var input = $j('#assertion-input');
			var value = input.val();
			var url = input.data('url');
			if ( ! url) url = '{{ BASE_URL }}/assertion/';
			if (value) {
				$j.post(url,
						{'value': value},
						function(data, textStatus){
							alert(textStatus);
							input.val('');
						}, 'json'
				);
			}else{
				alert('Add assertion');
			}
		});
	});
</script>