<div class="ui-state-error ui-corner-all">
    <span class="ui-icon ui-icon-alert"></span>
    Database will be reloaded after you add new fucntion!<br/>
    Maybe you want save fixtures first?
</div>
<input type='text' id='testcase-function-name' value='test_'/>
<button id='set-testcase-function-name'>Add</button>
<script type='text/javascript'>
	jQuery(function($j){
		$j('#set-testcase-function-name').click(function(){
			var value = $j('#testcase-function-name').val();
			$j('a.djDebugFunctionNamePanel span').html(value);
			if (value) {
				$j.post('{{ BASE_URL }}/add_function/',
						{'name': value},
						function(data, textStatus){
							document.location = '/';
							//alert(textStatus);
							//if (textStatus != 'success') alert(textStatus);
						}, 'json'
				);
			}else{
				alert('Set class name');
			}
		});
	});
</script>
