<input type='text' id='testcase-function-name' value='{{ function_name }}'/>
<button id='set-testcase-function-name'>Set</button>
<script type='text/javascript'>
	jQuery(function($j){
		$j('#set-testcase-function-name').click(function(){
			var value = $j('#testcase-function-name').val();
			if (value) {
				$j.post('{{ BASE_URL }}/function_name/',
						{'name': value},
						function(data, textStatus){
							alert(textStatus);
							//if (textStatus != 'success') alert(textStatus);
						}, 'json'
				);
			}else{
				alert('Set class name');
			}
		});
	});
</script>