<table>
	<thead>
		<tr>
			<th>Path</th>
			<th>Method</th>
			<th>GET</th>
			<th>POST</th>
			<th>Code</th>
			<th>Redirect url</th>
			<th>&nbsp</th>
		</tr>
	</thead>
	{% for row in records %}
		<tr class="{% cycle 'djDebugOdd' 'djDebugEven' %}">
			<td>{{ row.url }}</td>
			<td>{{ row.method }}</td>
			<td>
				{% with row.get as vars %}
					{% include 'testrecorder/panels/_request_vars.html' %}
				{% endwith %}
			</td>
			<td>				
				{% with row.post as vars %}
					{% include 'testrecorder/panels/_request_vars.html' %}
				{% endwith %}
			</td>
			<td>{{ row.code }}</td>
			<td>{{ row.redirect_url }}</td>
			<td><a class="djDeleteRequest" href="{{ BASE_URL }}/delete/?index={{ forloop.counter0 }}">delete</a></td>
		</tr>
	{% endfor %}	
</table>