{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
      <title>{% block title %}TestRecorder{% endblock %}</title>
      <meta charset="utf-8" />
      {% block head %}{% endblock %}
    </head>
    <body>
       <div>
           {% if user.is_authenticated %}
                {{ user }} | <a href="{% url logout %}?next={{ request.path_info|urlencode }}">{% trans "Logout" %}</a> |
           {% else %}
                <a href="{% url login%}?next={{ request.path_info|urlencode }}">{% trans "Login" %}</a> |
           {% endif %}
           <a href="{% url main:index %}">{% trans "Main" %}</a> |
           <a href="{% url main:create %}">{% trans "Create" %}</a>
       </div>
       {% block body %}{% endblock %} 
    </body>
</html>